.logo
 .logo__wrap
  .logo__circle-outer
    .logo__circle-inner
      .logo__item.logo__item--left
      .logo__item.logo__item--right
  img(src="assets/images/logo/TOXIN.png", alt="login").logo__img
