.logo
 .logo__wrap
  
    .logo__circle-outer
      .logo__circle-inner
        //- img(src="assets/images/logo/VectorL.svg", alt="login").logo__img-elem
        //- img(src="assets/images/logo/VectorR.svg", alt="login").logo__img-elem
        .logo__item.logo__item--left
        .logo__item.logo__item--right
    //- img(src="assets/images/logo/TOXIN.png", alt="login").logo__img
