.block-search-room
  .block-search-room__title
    | Найдём номера под ваши пожелания

  //- input(value="ДД.ММ.ГГГГ").js-in#checkinDate
  .block-search-room__label.js-in
    label.date-from
      b ДД.ММ.ГГГГ:
    label#checkinDate
  .block-search-room__label.js-in
    label.date-to
      b ДД.ММ.ГГГГ:
    label#checkoutDate
  #Datepicker 