.block-search-room {
	width: 380px;
	height: 374px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	&__title {
		font-family: 'Montserrat-Bold', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1f2041;
		margin-top: 40px;
		margin-left: 30px;
		margin-right: 30px;
	}

	&__label {
border: 1px solid #000000;
	}
}


