.rich 
  .rich__title
    h3 доступность
  .rich__list
    .rich__item
      .rich__checkbox-block
        label.checkbox
          input(type="checkbox" name="checkbox-sd" ).checkbox__input.rich__checkbox
          span.checkbox__custom
      .rich__text
        .rich__text-title
          |Широкий коридор
        .rich__text-text
          | Ширина коридоров в номере не менее 91 см.
    .rich__item
      .rich__checkbox-block
        label.checkbox
          input(type="checkbox" name="checkbox-ld" ).checkbox__input.rich__checkbox
          span.checkbox__custom
      .rich__text
        .rich__text-title
          |Помощник для инвалидов
        .rich__text-text
          | На 1 этаже вас встретит специалист и проводит до номера.