.review 
  .review__title
    .about-title.review__title-left
      | Отзывы посетителей номера
    .review__count
      | 2 отзыва
  .review__list
    .review__item
      .review__top
        .review__left
          .review__img.review__img--1
        .review__right
          .review__name 
            | Мурад Сарафанов 
          .review__days 
            | 5 дней назад
      .review__bottom 
        .review__left
          .review__like
                button.like.like--big
                  |12
        .review__right
          .review__text
            | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей
    .review__item
      .review__top
        .review__left
          .review__img.review__img--2 
        .review__right
          .review__name 
            | Патрисия Стёклышкова 
          .review__days 
            | Неделю назад
      .review__bottom 
        .review__left
          .review__like
                button.like.like--smoul
                  |2
        .review__right
          .review__text
            | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент