.footer-big {
	height: 367px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	color: $dark-shade-75;

	&__wrap {
		max-width: 660px;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 100px;
		margin-bottom: 110px;
		margin-left: auto;
		margin-right: auto;

		@include tablets {
			width: 90%;
			height: 100%;
			margin-top: 50px;
			margin-bottom: 55px;
		}
	}

	&__top {
	}

	&__center {
		text-align: center;
	}

	&__bottom {
		display: flex;
		justify-content: center;
	}
}
