label.radio
    input(type="radio" name="radio-test").radio__input
    span.radio__custom
    span.label__label Да  
  //- h3.checkboxs-block__title Checkbox Buttons
  //- label.checkbox
  //-   input(type="checkbox" name="checkbox-smoke" ).checkbox__input
  //-   span.checkbox__custom
  //-   span.checkbox__label Можно курить