.radio {
	display: flex;
	align-items: stretch;

	&__input {
		display: none;
	}

	&__custom {
		width: 20px;
		height: 20px;
		background: #ffffff;
		border: 1px solid #bc9cff;
		box-sizing: border-box;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__label {
		margin-left: 10px;
		color: $dark-shade-75;
		line-height: 24px;
	}

	&__input:checked + &__custom::before {
		content: '';
		display: block;
		position: absolute;
		width: 12px;
		height: 12px;
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		border-radius: 10px;
	}
}
