{
  "extends": ["plugin:vue/recommended", "eslint:recommended"],
  "parser": "vue-eslint-parser",
  "rules" : {
    "no-console" : "off"
  },
  "env": {
    "node" : true,
    "es6" : true,
    "browser" : true
  }
}
