mixin rate(num)
    if num === '1'
       - var titles = ['+','','','',''];
    if num === '2'
       - var titles = ['+','+','','',''];
    if num === '3'
       - var titles = ['+','+','+','',''];
    if num === '4'
       - var titles = ['+','+','+','+',''];
    if num === '5'
       - var titles = ['+','+','+','+','+'];
    .rate-block  
        ul.rate-block__list
            each title in titles
                li.rate-block__item
                    if title === '+'
                        button.rate.rate--full
                    else
                        button.rate.rate--border                       