.input-text {
	width: 320px;
	height: 44px;
	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 15px;
	color: $dark-shade-75;

	@include phones {
		width: 90%;
	}
	
	&::-webkit-input-placeholder {
		color: $dark-shade-25;
	}

	&::-ms-input-placeholder {
		color: $dark-shade-25;
	}

	&::placeholder {
		color: $dark-shade-25;
	}

	&:hover,
	&:focus {
		color: $dark-shade-75;
		border: 1px solid $dark-shade-50;
	}
}
