mixin button(options)
  if !options
    - options = {}
  -
    var classes = ''
    classes += options.type ? ' button_' + options.type : ''
    classes += options.size ? ' button_' + options.size : ''
    classes += options.isInverted ? ' button_inverted' : ''

  .button.js-button(class=classes)
    button.button__element(
      type = options.isSubmit ? 'submit' : false,
      tabindex = options.tabindex || false
    )= options.text || 'Button'
