include ../block-room/block-room.pug

main.main-search-room 
  .main-search-room__title Номера, которые мы для вас подобрали
  .main-search-room__content
    +room('assets/images/rooms/image-1.png', 888, 'люкс', 9990, '5', 145)
    +room('assets/images/rooms/image.png', 840, '', 9990, '4', 65)
    +room('assets/images/rooms/image-2.png', 980, 'люкс', 8500, '3', 35)
    +room('assets/images/rooms/image-5.png', 856, '', 7300, '5', 19)
    +room('assets/images/rooms/image-3.png', 740, '', 6000, '4', 44)
    +room('assets/images/rooms/image-4.png', 982, '', 5800, '3', 56)
    +room('assets/images/rooms/image-8.png', 678, '', 5500, '5', 45)
    +room('assets/images/rooms/image-6.png', 450, '', 5300, '4', 39)
    +room('assets/images/rooms/image-7.png', 350, '', 5000, '3', 77)
    +room('assets/images/rooms/image-10.png', 666, '', 5000, '5', 25)
    +room('assets/images/rooms/image-5.png', 444, '', 5000, '3', 15)
    +room('assets/images/rooms/image-10.png', 352, '', 5000, '3', 55)
  .main-search-room__wrap  
    include ../pagination/pagination.pug
