.main-search-room {
	// border: 1px solid #000000;
	flex: 1;
	margin-top: 30px;
	display: flex;
	flex-direction: column;

	&__title {
		font-family: 'Quicksand-Bold', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		line-height: 24px;
		color: #1f2041;
		margin-bottom: 25px;
		// letter-spacing: 0.9;
	}

	&__content {
		// border: 1px solid #000000;
		display: flex;
		flex-wrap: wrap;
	}

	&__wrap {
		margin-top: 20px;
		padding-right: 25px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	// @include tablets {
	// 	width: 90%;
	// 	height: 100%;
	// 	margin-top: 50px;
	// 	margin-bottom: 55px;
	// }
}
