include ../block-room/block-room.pug

main.main-search-room 
  .main-search-room__title Номера, которые мы для вас подобрали
  .main-search-room__content
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
    +room('assets/images/rooms/1.png', 99, 'люкс', 1987, '1', 79)
  .main-search-room__wrap  
    include ../pagination/pagination.pug
