.mobile-menu  
  .mobile-menu__close.js-mobile-menu-close
  .mobile-menu__wrap
    include ../logo/logo.pug

      - var titles = ['Home','About Us','Services','Careers','News','Documentation', 'Login','Register'];
        ul.mobile-menu__list
          each title, i in titles
            li.mobile-menu__item
              a(href=`${title}`).mobile-menu__link #{title}

