.range
  .range__text
      label.range__label(for='range__amount') Range Slider
      input.range__amount(type='text' readonly='')
  .range__slider    
    .js-range-slider.range-slider
  //- #slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
