.range
  .range__text
      label.range__label(for='range__amount') Range Slider
      input.range__amount(type='text' readonly='')
  .range__slider    
    .js-range-slider
  //- script.
  //-     $( "#slider" ).slider();
  //- .range__text
  //-   h3 Range Slider
  //-   span 5 000P - 10 000P
  //- 
  //-    .range__slider-beg

