.range
  .range__text
      label.range__label(for='range__amount') диапазон цены
      input.range__amount(type='text' readonly='')
  .range__slider    
    .js-range-slider.range-slider
  p.range__info Стоимость за сутки пребывания в номере