.range {
	width: 266px;

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__slider {
        // margin-top: 23px;
		// width: 266px;
		// height: 6px;
		// border: 1px solid $dark-shade-25;
		// box-sizing: border-box;
		// border-radius: 3px;
    }
    &__label {
		font-family: 'Montserrat-Bold', sans-serif;
		color: $dark-shade-100;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}
}

.js-range-slider{
	border: 1px solid red;
}
