.plus 
  .plus__title.about-title
    | Сведения о номере
  .plus__list
    .plus__item
      .plus__img.plus__img--emoticon
      .plus__text
        .plus__text-title
          | Комфорт 
        .plus__text-text
          | Шумопоглощающие стены
    .plus__item
      .plus__img.plus__img--location
      .plus__text
        .plus__text-title
          | Удобство 
        .plus__text-text
          | Окно в каждой из спален
    .plus__item
      .plus__img.plus__img--whatshot
      .plus__text
        .plus__text-title
          | Уют 
        .plus__text-text
          | Номер оснащён камином 
    