.maincontent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	// @mixin tablets {
	// 	flex-direction: row;
	// }
}

// .container {
// 	@mixin tablets {
// 		display: flex;
// 		flex-direction: column;
// 	}
// }
