extends ../main.layout.pug

block content
  include ../common/header/header.pug
  include ../common/header-login/header-login.pug
  include ../common/maincontent/maincontent.pug
  //- include ../common/aside/aside.pug
  //- include ../common/main/main.pug
  include ../common/footer/footer.pug