extends ../main.layout.pug

block content
  include ../common/header/header.pug
  include ../common/header-login/header-login.pug
  include ../common/maincontent/maincontent.pug
  include ../common/footer-small/footer-small.pug
  include ../common/footer-big/footer-big.pug