extends ../auth.layout.pug

block content
  .wrapper
    //- include ../common/header.pug
    //- include ../common/main.pug
    //- include ../common/portfolio.pug
    //- include ../common/portfolio2.pug
    //- include ../common/about.pug
    //- include ../common/sertificats.pug
    //- include ../common/contacts.pug
    //- include ../common/footer/footer.pug