block content
  .wrapper
    a(href="demo.html" target="blank")
      |demo.html
    br
    a(href="signin.html" target="blank")
      |signin.html
    br
    a(href="registration.html" target="blank")
      |registration.html
    br
    a(href="landing.html" target="blank")
      |landing.html