extends ../main.layout.pug

block content
  include ../common/header-rus/header-rus.pug
  include ../common/maincontent-search-room/maincontent-search-room.pug
  include ../common/footer-nav-rus/footer-nav-rus.pug
  include ../common/footer-small-rus/footer-small-rus.pug
  