.dropdown
   span.dropdown__title.js-dropdown Сколько гостей
   .dropdown__list
      .dropdown__item   
         .dropdown__item-left  
            |взрослые
         .dropdown__item-right  
            .dropdown__minus 
               |-
            .dropdown__number
               |0
            .dropdown__plus 
               |+
      .dropdown__item   
         .dropdown__item-left  
            |дети
         .dropdown__item-right  
            .dropdown__minus 
               |-
            .dropdown__number
               |0
            .dropdown__plus 
               |+
      .dropdown__item   
         .dropdown__item-left  
            |младенцы
         .dropdown__item-right  
            .dropdown__minus 
               |-
            .dropdown__number
               |0
            .dropdown__plus 
               |+
      .dropdown__item   
           .dropdown__item-left  
               |
           .dropdown__item-right  
               button.btn.btn__without
                  |применить
