.container#about 
    section.about
        h2.title Обо мне
        .about__wrap
            .about__paragraph
                |Родился в апреле 1978г.
                br
                |Женат, двое детей.
                br
                |Увлечения - кулинария, чтение.
            .about__subtitle Образование
            .about__paragraph
                strong 
                    |Академия Психологии, Предпринимательства и Менеджмента
                br
                |2001 - 2003 гг.
                br
                |г. Санкт-Петербург
                br
                |Специальность - Менеджер по персоналу
            .about__paragraph 
                strong
                    |Военный Институт Радиоэлектронники
                br
                |1995 - 2000 гг.
                br
                |г. Воронеж
                br
                |Специальность - Инженер
            .about__subtitle Опыт работы
            .about__paragraph
                strong 
                    |Рынок валютных операций Forex
                br
                |07.2016 - 07.2018 гг.
                br
                |Самозанятый трейдер, программист MQL4.
                br
                |Получил статус Gold-партнера.
                br
                |Написано много скриптов - торговых роботов на языке MQL4.
                br
                a.about__link(href="https://github.com/AntonVoronezh/forex" target="blank") Посмотреть скрипты MQL4 на github.
            .about__paragraph
                strong 
                    |ИП Глушенков А.И.
                br
                |04.2009 - 07.2016 гг.
                br
                |Автор скриптов, программист, копирайтер, дизайнер.
                br
                |Автор и создатель более 20 скриптов на PHP (MyMonster, Fantastico, Nipel, Eldorado и др.).
                br
                |Владелец магазина собственных скриптов.
                br
                |Автор скрипта на PHP для создания сети сайтов для работы с AdSence.
                br
                |Владелец сети сайтов.
                br
                a.about__link(href="https://github.com/AntonVoronezh/fantastico-for-example" target="blank") Посмотреть один скрипт PHP на github.
            .about__paragraph
                strong 
                    |Работа в других областях
                br
                |2003 - 2009 гг.
                br
                | Дизайнер, маркетолог, менеджер по персоналу.
            .about__subtitle Интервью со мной
            .about__paragraph
                strong
                    | Вот можно почитать обо мне. 
                br
                |Всё от 2009-2010 гг., т.к. после я перестал давать интервью.
                .about__paragraph.about__paragraph--img
                    a.about__link(href="http://shakin.ru/interview/seoboxer.html" target="blank")
                        img(src="./assets/images/int/1.png", alt="").about__img
                    a.about__link(href="http://www.terehoff.com/mymonster.html" target="blank")    
                        img(src="./assets/images/int/2.png", alt="").about__img
                    a.about__link(href="https://www.armadaboard.com/articles254.htm" target="blank")
                        img(src="./assets/images/int/3.png", alt="").about__img
                    a.about__link(href="http://ladymaksima.com/raj-dlya-manimejkera-ili-samyj-bolshoj-vybor-kachestvennyx-skriptov-v-magazine-seoboxer-ru/" target="blank")
                        img(src="./assets/images/int/4.png", alt="").about__img
                    a.about__link(href="http://blog.dimok.ru/seoboxerru-u-dyadyushki-yakova-tovaru-vsyakogo" target="blank")
                        img(src="./assets/images/int/5.png", alt="").about__img
            .about__subtitle Дополнительное обучение
            .about__paragraph
                |Фронтенд JS-программист от hexlet.io 
                br
                a.about__link(href="https://ru.hexlet.io/u/anton_voronezh" target="blank") Посмотреть мой профиль.
                br
                a.about__link(href="https://github.com/AntonVoronezh/project-lvl1-s328" target="blank") Посмотреть мой проект Brain Games от Hexlet.
            .about__paragraph
                |Обучение JavaScript под руководством ментора Д. Трепачёва. 
                br
                a.about__link(href="https://vk.com/topic-128796313_39822077?offset=640" target="blank") Посмотреть мой прогресс.
                
                