.container#contacts 
    section.contacts
        h2.title Контакты
        .contacts__p
            |Телефон:
            a(href="tel:+79518702249").about__link
                |+7 951 870-22-49
            br
            |E-mail: 
            a(href="mailto:pstut@mail.ru").about__link
                |pstut@mail.ru
            br
            |SKYPE: 
            a(href="skype:live:pstut").about__link
                |live:pstut
            br
            a.about__link(href="resume-A.Gluhenkov(frontend-developer).pdf" target="blank")    
                |Скачать резюме