header.header   
    .container
        .header__wrap
            .header__left 
                .header__title Антон Глушенков
            ul.header__list
                li.header__item
                    a(href="https://github.com/AntonVoronezh" target="blank")
                        .header__item--github
                li.header__item
                    a(href="https://www.linkedin.com/in/anton-glushenkov-87655016a/" target="blank")
                        .header__item--in
                li.header__item
                    a(href="https://vk.com/topic-128796313_39822077?offset=640" target="blank")
                        .header__item--vk 
            .header__right.nav
                ul.nav__list    
                    li.nav__list 
                        a.nav__link(onclick="smoothScrollTo(document.getElementById('portfolio').offsetTop-60)")  
                            |Портфолио
                    li.nav__list 
                        a.nav__link(onclick="smoothScrollTo(document.getElementById('about').offsetTop-60)")   
                            |Обо мне
                    li.nav__list 
                        a.nav__link(onclick="smoothScrollTo(document.getElementById('contacts').offsetTop-60)")    
                            |Контакты
                    li.nav__list 
                        a.nav__link(href="resume-A.Gluhenkov(frontend-developer).pdf" target="blank")    
                            |Скачать резюме
                    //- li.nav__list 
                    //-     a.nav__link(href="#")    
                    //-         |Сертификаты
                    //- li.nav__list 
                    //-     a.nav__link(href="#")    
                    //-         |Интервью со мной

