main.main
    .container
        section.main__top.top
            .top__img-wrap
                 img(src="../../assets/images/photo/photo.jpg", alt="").top__img
            .top__wrap
                .top__title Фронтенд разработчик
                .top__text 
                    - var obj = ['HTML5', 'CSS3', 'JavaScript', 'Git', 'Gulp', 'Pug', 'SASS', 'Flexbox', 'SVG', 'BEM'] 
                        ul.top__list
                            each key in obj
                                li.top__item= key

                    //- |HTML5 CSS3 JavaScript
                    //- |Flexbox SVG SASS SCSS BEM c Git
                    //- |Semantic Layout Cross Browser Adaptive Responsive Accessible