.container#portfolio
    section.portfolio
        h2.title Портфолио
        .portfolio__block
            .portfolio__block-title  SPA сайт-портфолио Владимира Астахова
                include ./sites/1.pug
        .portfolio__block
            .portfolio__block-title  Сайт-лэндинг бургерной
                include ./sites/2.pug
        .portfolio__block
            .portfolio__block-title  Сайт-визитка барбершопа Borodinsky
                include ./sites/3.pug
        .portfolio__block
            .portfolio__block-title  Сайт-визитка авиакомпании AIR Plane
                include ./sites/4.pug
        .portfolio__block
            .portfolio__block-title  Тренировочные проекты
                include ./sites/5.pug
            