.container
    section.portfolio
        h2.title Портфолио по JavaScript
        .portfolio__block
            .portfolio__block-title  Готовые виджеты
            .other
                .other__wrap
                    .other__title Стикеры (ООП)
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/stickers/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/11.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/OOP/blob/master/stickers.js" target="blank") Посмотреть код на github

                .other__wrap
                    .other__title Игра "5 в ряд" (ООП)
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/5dots/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/10.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/OOP/blob/master/dots.js" target="blank") Посмотреть код на github
                
                .other__wrap
                    .other__title Игра "Жизнь"
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/life/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/9.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/life/life.js" target="blank") Посмотреть код на github
                
                .other__wrap
                    .other__title Игра "Двигай буквы"
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/moveword/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/8.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/moveword/moveword.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Следующее число
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/nextnumber/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/2.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/nextnumber/nextnumber.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Kалендарь 
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/calendar/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/3.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/calendar/calendar.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Расчет площадей
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/calculatearea/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/4.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/calculatearea/calculatearea.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Блокнот 
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/checklist/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/5.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/checklist/checklist.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Сохранитель форм 
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/savinghtmlform/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/6.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/savinghtmlform/savinghtmlform.js" target="blank") Посмотреть код на github
            
                .other__wrap
                    .other__title Угадыватель числа
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/numberfor7steps/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/7.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/numberfor7steps/numberfor7steps.js" target="blank") Посмотреть код на github
                
                .other__wrap
                    .other__title Крестики-нолики
                    .other__top
                        a.other__link(href="https://antonvoronezh.github.io/ready-scripts/cross-zero/index.html" target="blank") Посмотреть вживую
                    .other__middle
                        img(src="./assets/images/portfolio/js/1.jpg", alt="").other__img
                    .other__bottom
                        a.other__link(href="https://github.com/AntonVoronezh/ready-scripts/blob/master/cross-zero/cross-zero.js" target="blank") Посмотреть код на github
            