.container
    section.sertificats 
        h2.title Мои сертификаты
        .sertificats__wrap
            a(href="https://loftschool.com/diploma/NPR14439AL222PZT3/ru/pdf" target="blank").sertificats__link
                img(src="../../assets/images/sertificates/002147c2a7.jpg", alt="").sertificats__img
            a(href="https://loftschool.com/diploma/WN1534764076/ru/pdf" target="blank").sertificats__link
                img(src="../../assets/images/sertificates/820e3c862b.jpg", alt="").sertificats__img
            a(href="https://loftschool.com/diploma/SL1534764075/ru/pdf" target="blank").sertificats__link
                img(src="../../assets/images/sertificates/8771f2db45.jpg", alt="").sertificats__img
            a(href="https://loftschool.com/diploma/PW1534764076/ru/pdf" target="blank").sertificats__link 
                img(src="../../assets/images/sertificates/4e3d8ee430.jpg", alt="").sertificats__img