include ../input-text/input-text.pug

aside.aside-search-room
  include ../datepicker2/datepicker2.pug
  include ../dropdown2/dropdown2.pug
  include ../range-slider/range-slider.pug
  include ../checkboxs-block/checkboxs-block.pug
  include ../rich/rich.pug
  include ../dropdown-count/dropdown-count.pug
  include ../exp-list/exp-list.pug