.aside-search-room {
	width: 325px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.mb5 {
	margin-bottom: 5px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt15 {
	margin-top: 15px;
}
