.block-search-room
  .block-search-room__title
    | Найдём номера под ваши пожелания
  .block-search-room__label-title
    h3
     | прибытие
    h3
      | выезд
  include ../datepicker/datepicker.pug
  .block-search-room__label-title
    h3
     | гости
  include ../dropdown/dropdown.pug
  button.btn.btn__counter.btn__counter--purple.btn__counter--main.btn__counter--big
    | подобрать номер