include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
    link(rel='stylesheet' href='http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.12.4.js')
    script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.js')
  body
    .wrapper
      block content

    //- script(src='bootloader.bundle.js')
    //- script(src='vendor.bundle.js')

    block scripts
      script(src="demo.bundle.js")
