.search
  form.search__form
    input.search__text(
      name = 'search-text'
      type = 'search'
      placeholder = 'Your email address'
    )
    button(
      type = 'submit'
    ).search__submit
      //- include ./img/glass-finder.svg