main.main
  
  .main__wrap 
    h1 fgdfgdfgdfg
    h2 fgdfgdfgdfg
    h3 fgdfgdfgdfg
    |ggggggggggggggggggggg

    button.btn.btn__counter.btn__counter--white.btn__counter--main
      |CLICK ME
    button.btn.btn__counter.btn__counter--purple.btn__counter--main
      |CLICK ME