.datepicker2
    h3.mb5 даты пребывания в отеле
    .datepicker2__wrap
        .datepicker2__label.js-in-2
            label.date-from
                b день месяц
            label#checkinDate2
            label#checkoutDate2
    .datepicker2__main-wrap  
        .datepicker2__main.close  
            #Datepicker2 
            .datepicker2__bottom
                .datepicker2__bottom-left  
                    button.btn.btn__without.gray.db.js-reset-datepicker-2
                        |очистить
                .datepicker2__bottom-right  
                    button.btn.btn__without.js-ok-datepicker-2
                        |применить
    
