.flip-container
    .flipper
        .front
            a.portfolio__block-link.portfolio__block-link--front(href="https://antonvoronezh.github.io/edu-14-burger/index.html" target="blank") Посмотреть вживую
            a.portfolio__block-link-git.portfolio__block-link-git--front(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-14-burger" target="blank") Посмотреть код на github
            button.portfolio__block-more.portfolio__block-more--front Почитать описание 
            img(src="../../assets/images/portfolio/cover/2.png", alt="").portfolio__img
        .back
            a.portfolio__block-link.portfolio__block-link--back(href="https://antonvoronezh.github.io/edu-14-burger/index.html" target="blank") Посмотреть вживую
            a.portfolio__block-link-git.portfolio__block-link-git--back(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-14-burger" target="blank") Посмотреть код на github
            button.portfolio__block-index.portfolio__block-more--back Вернуться назад 
            .portfolio__text
                .portfolio__block-pic  
                    img(src="../../assets/images/portfolio/2/1.png", alt="").portfolio__block-img.portfolio__block-img--desktop
                    img(src="../../assets/images/portfolio/2/2.png", alt="").portfolio__block-img.portfolio__block-img--tablet
                    img(src="../../assets/images/portfolio/2/3.png", alt="").portfolio__block-img.portfolio__block-img--phones
                .portfolio__text-wrap
                    .portfolio__title
                        p.portfolio__paragraph.portfolio__paragraph--strong  Выпускной проект на курсе "Веб-разработка для начинающих"
                        p.portfolio__paragraph Автоматизация сборки c помощью Gulp.
                        p.portfolio__paragraph Написание слайдеров, аккордеонов, прокруток с помощью native JS.
                        p.portfolio__paragraph Стилизация видеоплеера помощью native JS.
                        p.portfolio__paragraph Множество деталей, сложная сетка с перестроениями, нестандартные компоненты.
                        p.portfolio__paragraph Кроссбраузерная валидная Pixel Perfect верстка по psd-макетам.
                        p.portfolio__paragraph Верстка трёх состояний (мобильного, планшетного и десктопного) каждой страницы.
                        p.portfolio__paragraph Адаптивность на media queries и резиновая сетка.
                        p.portfolio__paragraph Использованы флексбоксы.
                        p.portfolio__paragraph Использование БЭМ методологии.
                        p.portfolio__paragraph Использование CSS-препроцессора SASS.
                        p.portfolio__paragraph Адаптивная графика: использование векторной графики SVG.

