.flip-container
    .flipper
        .front
            a.portfolio__block-link.portfolio__block-link--front(href="https://antonvoronezh.github.io/edu-2-(2)-airplanet/index.html" target="blank") Посмотреть вживую
            a.portfolio__block-link-git.portfolio__block-link-git--front(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-2" target="blank") Посмотреть код на github
            button.portfolio__block-more.portfolio__block-more--front Почитать описание 
            img(src="../../assets/images/portfolio/cover/4.png", alt="").portfolio__img
        .back
            a.portfolio__block-link.portfolio__block-link--back(href="https://antonvoronezh.github.io/edu-2-(2)-airplanet/index.html" target="blank") Посмотреть вживую
            a.portfolio__block-link-git.portfolio__block-link-git--front(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-2" target="blank") Посмотреть код на github
            button.portfolio__block-index.portfolio__block-more--back Вернуться назад 
            .portfolio__text.portfolio__text--first
                .portfolio__block-pic  
                    img(src="../../assets/images/portfolio/4/1.png", alt="").portfolio__block-img-first
                    img(src="../../assets/images/portfolio/4/2.png", alt="").portfolio__block-img-first
                    img(src="../../assets/images/portfolio/4/3.png", alt="").portfolio__block-img-first
                .portfolio__text-wrap
                    .portfolio__title.portfolio__title--first
                        p.portfolio__paragraph.portfolio__paragraph--strong  Выпускной проект на курсе "Основы вёрстки сайтов"
                        p.portfolio__paragraph Кроссбраузерная валидная Pixel Perfect верстка по psd-макетам.
                        p.portfolio__paragraph Использованы флексбоксы.
                        p.portfolio__paragraph Использование БЭМ методологии.
