.other
    .other__wrap
        .other__title Fudi
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-8-fudi/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/4.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-8-fudi" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Reen
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-9-reen/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/5.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-9-reen" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Nerds
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-10-nerds/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/6.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-10-nerds" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Gllacy
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-11-gllacy/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/7.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-11-gllacy" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Marble
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-12-marble/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/8.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-12-marble" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Magmagazine
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-13-magmagazine/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/9.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-13-magmagazine" target="blank") Посмотреть код на github

    .other__wrap
        .other__title Coworking
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-4-coworking/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/1.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-4-coworking" target="blank") Посмотреть код на github
    .other__wrap
        .other__title Blogin
        .other__top
            a.other__link(href="https://antonvoronezh.github.io/edu-7-blogs/index.html" target="blank") Посмотреть вживую
        .other__middle
            img(src="assets/images/portfolio/5/3.png", alt="").other__img
        .other__bottom
            a.other__link(href="https://github.com/AntonVoronezh/educaton-HTML-CSS-7-blog" target="blank") Посмотреть код на github
