.social-links {
	width: 100px;
	&__list {
		display: flex;
		justify-content:space-between;
	}

	&__item {
		width: 24px;
		height: 24px;
		border: 1px solid #000000;
		// margin-right: 20px;

		&--twitter {
		}

		&--facebook {
		}

		&--instagram {
		}
	}
}
