.social-links 
  ul.social-links__list
    li
      a(href="#twitter").social-links__item.social-links__item--twitter
    li
       a(href="#facebook").social-links__item.social-links__item--facebook
    li
      a(href="#instagram").social-links__item.social-links__item--instagram
