.social-links 
  ul.social-links__list
    li.social-links__item.social-links__item--twitter
      //- i.fab.fa-twitter
    li.social-links__item.social-links__item--facebook
    li.social-links__item.social-links__item--instagram
