.datepicker
    .datepicker__wrap
        .datepicker__label.js-in
            label.date-from
                b ДД.ММ.ГГГГ
            label#checkinDate
        .datepicker__label.js-in
            label.date-to
                b ДД.ММ.ГГГГ
            label#checkoutDate
    .datepicker__main-wrap  
        .datepicker__main.close  
            #Datepicker 
            .datepicker__bottom
                .datepicker__bottom-left  
                    button.btn.btn__without.gray.db.js-reset-datepicker
                        |очистить
                .datepicker__bottom-right  
                    button.btn.btn__without.js-ok-datepicker
                        |применить
    
