.datepicker
    .datepicker__wrap
        .datepicker__label.js-in
            label.date-from
                b ДД.ММ.ГГГГ:
            label#checkinDate
        .datepicker__label.js-in
            label.date-to
                b ДД.ММ.ГГГГ:
            label#checkoutDate
    .datepicker__main  
         #Datepicker 
   
