.block-room {
	width: 270px;
	height: 257px;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	margin-right: 8px;
	margin-bottom: 25px;

	&__wrap {
		padding-left:20px;
		padding-right: 20px;

		&--img {
			padding: 0;
			display: flex;
			flex-direction: column;
			position: relative;
		}

		&--center {
			margin-top: 15px;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&--bottom {
			margin-top: 20px;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}

	&__img {
		// border: 1px solid #000000;
	}

	&__circles {
		position: absolute;
		bottom: 13px;
		right: 11px;
		z-index: 50;
	}

	&__pic {
		width: 100%;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&__sp {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		border: 1px solid #ffffff;
		margin-right: 3px;

		&--all {
			background: #ffffff;
		}
	}

	&__sm {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 17px;
	}
}





// include ../rate-block/rate-block.pug  

// .block-room
//   .block-room__wrap.block-room__wrap--img
//     .block-room__circles
//       span.block-room__sp.block-room__sp--all
//       span.block-room__sp
//       span.block-room__sp
//       span.block-room__sp
//     .block-room__img 
//       img(src="assets/images/rooms/1.png").block-room__pic
//   .block-room__wrap.block-room__wrap--center
//     .block-check__number
//       span.block-check__num
//         |№ 
//       span.block-check__more.block-room__sm 
//         | 888
//       span.block-check__lux
//         |люкс
//     .block-check__price
//       span.block-check__sum
//         b
//         | 9 990P
//       span.block-check__sut
//         | в сутки
//   .block-room__wrap.block-room__wrap--bottom
//     .block-check__number
//       +rate('4')
//     .block-check__price
//       span.block-check__sum
//         b
//         | 65
//       span.block-check__sut
//         | Отзывов
