.checkboxs-block
  h3.checkboxs-block__title Checkbox Buttons
  label.checkbox
    input(type="checkbox" name="checkbox-smoke" ).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно курить
  label.checkbox
    input(type="checkbox" name="checkbox-zoo" ).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно с питомцами
  label.checkbox
    input(type="checkbox" name="checkbox-guests" ).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно пригласить гостей (до 10 человек)
