.checkboxs-block.mt20
  h3.checkboxs-block__title Checkbox Buttons
  label.checkbox
    input(type="checkbox" name="checkbox-smoke" ).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно курить
  label.checkbox
    input(type="checkbox" name="checkbox-zoo" checked).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно с питомцами
  label.checkbox
    input(type="checkbox" name="checkbox-guests" checked).checkbox__input
    span.checkbox__custom
    span.checkbox__label Можно пригласит гостей (до 10 человек)
