.footer-nav
  .container
    .footer-nav__wrap 
      .footer-nav__block
        include ../logo/logo.pug
        | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer-nav__block
        h3 Navigation

      .footer-nav__block
        h3 About us
      .footer-nav__block
        h3 Support
      .footer-nav__block
        h3 Subscribe to our newsletter
