.footer-nav {
	height: 372px;
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
	color: $dark-shade-75;
	
	&__wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 104px;
		margin-bottom: 100px;
		

		@include tablets {
			width: 90%;
		}
	}

	&__block {
		max-width: 260px;
		min-width: 165px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 5px;

		&--margin {
			margin-top: 0;
		}
	}

	&__list {	margin-top: 8px;

	}

	&__item {

		margin-top: 13px;
	}

	&__link {
		color: $dark-shade-50;
		text-decoration: none;
		transition: color 0.5s;
	
		&--active {
			font-family: 'Montserrat-Bold', sans-serif;
		}

		&:hover, &:focus {
			color: $dark-shade-75;	
		}
	}

	&__text {
		margin-top: 18px;
		margin-bottom: 20px;
	}
}


