// variables
$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.50);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;


// size
$default:1800px;
$desktop:1200px;
$tablets:768px;
$phones:480px;

@mixin default {
    @media (max-width: $default) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin tablets {
    @media (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media (max-width: $phones) {
        @content;
    }
}