.about {
    padding: 10px;
    border: 1px solid #999;
}

.about__wrap {
    // border: 1px solid #000000;
    padding: 5px;
    margin-top: 10px;
}

.about__subtitle {
    font-size: 22px;
    color: #1aa5e0;
    margin-top: 10px;
}

.about__paragraph {
    margin-top: 10px;
}

.about__link {
    color: #000;
}

.about__img {
    border: 1px solid #999;
    width: 250px;
    height: 200px;
    margin: 5px;
}

.about__paragraph--img {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}