.header {
    height: 60px; // border: 1px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 900px;
}

.header__title {
    color: #1aa5e0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__svg {
    fill: #fff;
}

.header__list {
    display: flex;
}

.header__item {
    width: 50px;
    height: 50px;
    overflow: hidden; // border: 1px solid #fff;
    cursor: pointer;
}

.header__item--github {
    background-image: svg-load('github.svg', fill=#fff);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    transition: background-image 0.5s;
    &:hover {
        background-image: svg-load('github.svg', fill=#1aa5e0);
    }
}

.header__item--in {
    background-image: svg-load('in.svg', fill=#fff);
    background-repeat: no-repeat;
    background-position: center center;
    width: 45px;
    height: 45px;
    transition: background-image 0.5s;
    &:hover {
        background-image: svg-load('in.svg', fill=#1aa5e0);
    }
}

.header__item--vk {
    background-image: svg-load('vk.svg', fill=#fff);
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    transition: background-image 0.5s;
    &:hover {
        background-image: svg-load('vk.svg', fill=#1aa5e0);
    }
}

.header__link {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
}