.nav__list {
    display: flex;
}

.nav__list {
    margin-left: 10px;
    @include phones {
        display: none;
    }
}

.nav__link {
    transition: color 0.5s;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #1aa5e0;
    }
}