.radio-block
    label.radio
        input(type="radio" name="radio-test").radio__input
        span.radio__custom
        span.radio__label Мужчина  
    label.radio
        input(type="radio" name="radio-test").radio__input
        span.radio__custom
        span.radio__label Женщина