.toggle-block
    label.toggle
        .toggle__wrap
            input(type="checkbox" name="toggle").toggle__input
            span.toggle__custom
        span.toggle__label Получать спецпредложения  