.dropdown
   span.dropdown__title.js-dropdown Сколько гостей
   .dropdown__list
      .dropdown__item   
         .dropdown__item-left  
            |взрослые
         .dropdown__item-right  
            .dropdown__minus.js-big-minus
               |-
            .dropdown__number.js-big-number
               |0
            .dropdown__plus.js-big-plus 
               |+
      .dropdown__item   
         .dropdown__item-left  
            |дети
         .dropdown__item-right  
            .dropdown__minus.js-small-minus
               |-
            .dropdown__number.js-small-number
               |0
            .dropdown__plus.js-small-plus 
               |+
      .dropdown__item   
         .dropdown__item-left  
            |младенцы
         .dropdown__item-right  
            .dropdown__minus.js-smaller-minus 
               |-
            .dropdown__number.js-smaller-number
               |0
            .dropdown__plus.js-smaller-plus 
               |+
      .dropdown__item.dropdown__item--bottom
           .dropdown__item-left  
               button.btn.btn__without.gray.js-reset
                  |очистить
           .dropdown__item-right  
               button.btn.btn__without
                  |применить
