.dropdown-count.js-dropdown-count
   span.dropdown-count__title.js-dropdown-count 2 спальни, 2 кровати...
   .dropdown-count__list
      .dropdown-count__item   
         .dropdown-count__item-left  
            |спальни
         .dropdown-count__item-right  
            .dropdown-count__minus.js-big-count-minus
               |-
            .dropdown-count__number.js-big-count-number
               |2
            .dropdown-count__plus.js-big-count-plus 
               |+
      .dropdown-count__item   
         .dropdown-count__item-left  
            |кровати
         .dropdown-count__item-right  
            .dropdown-count__minus.js-small-count-minus
               |-
            .dropdown-count__number.js-small-count-number
               |2
            .dropdown-count__plus.js-small-count-plus 
               |+
      .dropdown-count__item   
         .dropdown-count__item-left  
            |ванные комнаты
         .dropdown-count__item-right  
            .dropdown-count__minus.js-smaller-count-minus 
               |-
            .dropdown-count__number.js-smaller-count-number
               |0
            .dropdown-count__plus.js-smaller-count-plus 
               |+
