header.header
  .container
    .header__wrap 
      include ../logo/logo.pug
      include ../header-nav-rus/header-nav-rus.pug
      include ../header-nav-mobile/header-nav-mobile.pug
      include ../mobile-menu/mobile-menu.pug