include ../input-text/input-text.pug

.block-enter
  .block-enter__title
    |  Войти
  .block-enter__wrap.block-enter__wrap--top
    +inputText('Email', false)
    +inputText('Пароль', false)
  .block-enter__wrap.block-enter__wrap--center
    button.btn.btn__counter.btn__counter--purple.btn__counter--main.btn__counter--big
      | войти
  .block-enter__wrap.block-enter__wrap--footer
    span
      | Нет аккаунта на Toxin?
    button.btn.btn__counter.btn__counter--white.btn__counter--main.btn__counter--bra
      | сoздать
